{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Acceuil{% endblock %}

{% block body %}

<main class="flex flex-col items-center text-center justify-center h-[80vh] px-4 flex-grow">
    <h1 class="text-6xl font-bold text-blue-500 dark:text-blue-700 animate__animated animate__fadeInUp">
        Bienvenue, {{ user }}
    </h1>
    <h2 class="text-4xl font-bold mt-4 animate__animated animate__fadeInUp animate__delay-1s">
        Vous êtes connecté en tant qu'administrateur.
    </h2>
</main>

{% endblock %}
