{% extends 'base.html.twig' %}

{% block title %}Portefeuille{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue dans votre portefeuille</h1>
        <p>Vous avez été redirigé avec succès après la vérification du PIN.</p>

    </div>
{% endblock %}
